nav {
    background-color: #b6ada1; 
}

body {
  padding: 2.5rem; 
  line-height: 1.6;
  font-family: 'Inter', sans-serif; 
  color: #1c1c1c; 
  background-color: #fffef6; 
  font-size: medium;
}

.homepageLinks{
 padding: 2rem;
 max-width: 650rem;
 border-radius: 1rem;
 color: black;
}


.blogPost {
  padding: 2rem;
  margin: 2rem auto;
  max-width: 700px;
  background-color: #b6ada1;
  color: #ffffff;
  border-radius: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}



/* .video-Section{
} */