nav {
    background-color: #ffffff; 
    padding: 0;
    width: 100%;
}

.nav ul{
list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
}

.navlinks {
 color: rgba(2, 2, 65, 0.91);
  text-decoration: solid;
}


.navbar li a:hover {
  color: #000000;
}

body {
  padding: 2.5rem; 
  line-height: 1.6;
  font-family: 'Inter', sans-serif; 
  color: #1c1c1c; 
  background-image: url("../Images/Background1.png") ;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-color: #fffef6;  */
  font-size: medium;
}

.homepageLinks{
 padding: 2rem;
 max-width: 650rem;
 border-radius: 1rem;
 color: black;
}


.blogPost {
  padding: 2rem;
  margin: 2rem auto;
  max-width: 700px;
  background-color: #b6ada1;
  color: #ffffff;
  border-radius: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}



/* .video-Section{
} */