
body {
  padding: 1.5rem; 
  line-height: 1.6;
  font-family: 'Inter', sans-serif; 
  color: #333; 
  background-color: #fdfdfd; 
}

.blogPost {
  padding: 2rem;
  margin: 2rem auto;
  max-width: 700px;
  background-color: #fffefc;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}